:root {
    /* the color of the border around selected part and icon buttons */
    --select-color: #FF0000;
    /* the color/image filepath of the background of the image display area */
    --image-background-color: hsla(0,0%,93.3%,.5);
    --image-background-png: "none";
    /* the color/image filepath of the random button */
    --random-button-color: #ffbd15;
    --random-button-png: "none";
    /* the color/image filepath of the items menu background*/
    --control-panel-color: #ccc;
    --control-panel-png: "none";
    /* the color of the item buttons */
    --item-button-color: #fff;
    /* the color/image filepath of the item menu toggle button */
    --item-toggle-color: #fff;
    --item-toggle-png: url("imagemaker_assets/item_toggle.png");
    /* the color/image filepath of the palette toggle button */
    --palette-toggle-color: #fff;
    --palette-toggle-png: url("imagemaker_assets/palette_toggle.png");
    /* the color/image filepath of the info button */
    --info-toggle-color: #fff;
    --info-toggle-png: "none";
    /* the color/image filepath of the info button */
    --move-toggle-color: #fff;
    --move-toggle-png: url("imagemaker_assets/move_toggle.png");
    /* the image filepath of the logo */
    --logo-png: "none";
    --save-button-color: #00b33c;
}

* {
    min-height: 0;
    min-width: 0;
    word-wrap: break-word;
    box-sizing: border-box;
}

body {
    height: 90vh;
}

.imagemaker {
    height: 100%;
}

@media (orientation: landscape) {
    .imagemaker_container_wrapper {
	width: 800px;
    }
    
    .imagemaker_container {
	flex-direction: row;
    }
    
    .imagemaker_canvas_wrapper {
	max-height: 100%;
    }

    .imagemaker_save_button {
	top: 5px;
	height: 36px;
    }

    .imagemaker_ctrl_buttons {
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: auto;
	left: auto;
	width: 50px;
	height: 50px;
	z-index: 0;
    }

    .imagemaker_control_wrapper {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 275px;
	height: 100%
    }

    .imagemaker_info_show_button {
	position: absolute;
	top: auto;
	right: auto;
	bottom: 4px;
	left: 4px;
	width: 50px;
	height: 50px;
    }

    .imagemaker_random_button {
	min-width: 60px;
	font-size: 14px;
    }

    .imagemaker_parts_menu ul {
	margin-left: 10px;
    }

    .imagemaker_itemlist ul li {
	width: 33.2%;
    }

    .imagemaker_parts_menu {
	height: 68px;
    }

    .imagemaker_parts_menu ul li {
	width: 60px;
	height: auto;
    }

    .imagemaker_ctrl_buttons .button_show_itemlist {
	width: 50px;
	height: 50px;
	line-height: 50px;
    }

    .imagemaker_ctrl_buttons .button_show_colorpalette {
	align-items: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	left: -55px;
    }

    .imagemaker_colorpalette ul li {
	width: 48px;
	height: 48px;
    }
}

@media (orientation: portrait) {
    .imagemaker_container_wrapper {
	width: 95vw;
	min-height: 95vh;
    }

    .imagemaker_container {
	flex-direction: column;
    }

    .imagemaker_canvas_wrapper {
	max-height: 50%;
    }

    .imagemaker_save_button {
	height: 4vh;
	font-size: 3vh;
    }

    .imagemaker_ctrl_buttons {
	bottom: 4px;
	right: 4px;
	top: auto;
	left: auto;
    }

    .imagemaker_control_wrapper {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%
    }

    .imagemaker_info_show_button {
	position: absolute;
	top: 4px;
	right: 4px;
	bottom: auto;
	left: auto;
	height: 6vh;
	width: 6vh;
	font-size: 5vh
    }

    .imagemaker_parts_menu_wrapper {
	padding-left: 18.18%;
    }

    .imagemaker_parts_menu ul {
	margin-left: 0px;
    }

    .imagemaker_itemlist ul li {
	width: 23.75%;
    }

    .imagemaker_parts_menu_wrapper {
	min-height: 10vh;
    }
    
    .imagemaker_parts_menu {
	height: 100%;
    }

     .imagemaker_parts_menu ul {
	width: auto;
	height: 100%;
     }
     
    .imagemaker_parts_menu ul li {
	width: 9vh;
	height: 9vh;
    }

    .imagemaker_parts_menu ul li img {
	width: 100%;
	height: 100%;
	position: relative;
    }

    .imagemaker_random_button {
	font-size: 4vw;
    }

    .imagemaker_ctrl_buttons {
	width: 6vh;
	height: 6vh;
    }

    .imagemaker_ctrl_buttons .button_show_colorpalette {
	width: 6vh;
	height: 6vh;
	line-height: 6vh;
	left: -10vh;
	bottom: 4px;
    }

    .imagemaker_ctrl_buttons .button_show_itemlist {
	width: 6vh;
	height: 6vh;
	bottom: 4px;
	right: 4px;
    }

    .imagemaker_colorpalette ul li {
	width: 8vh;
	height: 8vh;
    }
    
}

.imagemaker_container_wrapper {
    position: relative;
    margin: 0 auto;
    height: 100%;
    border-style: solid;
}

.imagemaker_container {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
    background-color: var(--image-background-color, hsla(0,0%,93.3%,.5));
    background-image: var(--image-background-png, none);
    background-position: center;
    background-repeat: no-repeat;
}

.imagemaker_canvas_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemaker_save_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 4px 8px;
    background: var(--save-button-color, #555555);
    border-radius: 4px;
    text-align: center;
    word-break: break-all;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: auto;
    bottom: 4px;
    left: 4px;
    background-image: var(--download-button-png, "none");
    background-position: center;
    background-repeat: no-repeat;
}

.imagemaker_canvas_wrapper canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
}


.imagemaker_ctrl_buttons {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 0;
}

.imagemaker_control_wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%
}

.imagemaker_parts_menu_wrapper {
    flex: 0 0 70px;
    position: relative;
    padding-left: 18.18%;
}

.imagemaker_parts_menu {
    overflow: auto;
    margin: 0;
    white-space: nowrap;
    background-color: var(--parts-menu-color, #eee);
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: scrollbar;
}

.imagemaker_parts_menu ul {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    list-style: "none";
}

.imagemaker_parts_menu ul li {
    position: relative;
    min-width: 48px;
    margin: 4px 2px 4px 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imagemaker_random_button {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    width: 18.18%;
    background-color: var(--random-button-color, #ffbd16);
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--random-button-png, "none");
    background-position: center;
    background-repeat: no-repeat;
}

.imagemaker_control_panel_wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    flex-grow: 1;
}

.imagemaker_control_panel {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100px;
    background-color: var(--control-panel-color, #ccc);
    background-image: var(--constrol-panel-png, "none");
    background-repeat: no-repeat;
}

.imagemaker_itemlist {
    flex: 1 1 auto;
    height: 100%;
    min-height: 100px;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.imagemaker_itemlist ul {
    padding: 0;
    margin: .5%;
}

.imagemaker_itemlist ul li {
    margin: 5px;
    background-color: var(--item-button-color, #fff);
    border-radius: 4px;
    position: flex;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
}

.imagemaker_itemlist ul li img {
    width: 100%;
    height: 100%;
}

.imagemaker_ctrl_buttons .button_show_itemlist {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--item-toggle-color, #fff);
    background-image: var(--item-toggle-png, "none");
    background-position: center;
    background-repeat: no-repeat;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

.imagemaker_ctrl_buttons .button_show_controller {
    /* TODO: implement movable parts*/
    display: none;
    /* display: inline-flex; */
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--move-toggle-color, #fff);
    background-image: var(--move-toggle-png, "none");
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: absolute;
    line-height: 50px;
    top: -55px;
}

.imagemaker_ctrl_buttons .button_show_colorpalette {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--palette-toggle-color, #fff);
    background-image: var(--palette-toggle-png, "none");
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

.imagemaker_info_show_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--info-toggle-color, #fff);
    background-image: var(--info-toggle-png, "none");
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    border: 0 solid #aaa;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    z-index: 20;
}

.imagemaker_logo {
    position: absolute;
    top: 6px;
    right: auto;
    bottom: auto;
    left: 6px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:  #ff597e;
    background-image: var(--logo-png, "none");
    width: 66px;
    height: 20px;
    filter: drop-shadow(0 0 1px #fff) drop-shadow(0 0 1px #fff);
    display: none;
}

.selected {
    border: 3px solid var(--select-color, #ff0000);
}

.imagemaker_info_wrapper {
    height: 100%;
    background-color: #eeeeee;
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    height: calc(100% - 8px);
    overflow: hidden;
    z-index: 10;
    display: none;
}

.imagemaker_info_content {
    margin: 10px;
    font-size: 14px;
}

.imagemaker_colorpalette {
    flex: 1;
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 4px 0;
    -webkit-overflow-scrolling: touch;
}

.imagemaker_colorpalette ul {
    padding: 0;
    font-size: 0;
    width: 100%;
    margin: auto;
    text-align: center;
}

.imagemaker_colorpalette ul li {
    margin: 1px;
    border-radius: 50%;
    border: 2px solid #eee;
    box-sizing: border-box;
    list-style-type: none!important;
    cursor: pointer;
}

.imagemaker_colorpalette ul > * {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 1rem;
}

